@mixin box-shadow($h-shadow, $v-shadow, $color, $blur: 0, $spread: 0, $inset: null) {
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset;
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset;
  -ms-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset;
  -o-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset;
  box-shadow: $h-shadow $v-shadow $blur $spread $color $inset;
}
