form .form {
  &-heading {
    color: $dark-grey;
    text-transform: capitalize;
    font-size: 2.2em;
  }

  &-label {
    font-size: 1.1em;
    font-weight: bold;
    color: $white;
    background-color: $button-blue;
    display: inline-block;
    padding: 7px 28px;
    cursor: pointer;
    margin: 0.8em 0;

      &:hover {
          background-color: red;
      }
  }

  &-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &-submit {
    @extend .form-label;
    padding: 8px 54px;

    &:hover {
      background-color: $green;
    }
  }
}

.add-form{
  padding-top: 10px;
}
