.login_background {
	background: {
		image:url('../../src/img/home/backgroundpicture.png');
		size: cover;
		repeat: no-repeat;
	}
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	.login-box {
		padding: 20px;
	}

}

.welcome_text {
	color:$white;
	font-size: 1em;
	text-align: center;
	padding-bottom: 18px;
}

.logo {
	display: block;
	margin: -75px auto 0 auto;
	width: 230px;
}

.sign_in {
	display: block;
	margin: 0 auto;
	width: auto;
	height: auto;
	cursor: pointer;
}

.error {
	color: #FF7A7A;
	max-width: 500px;
	text-align: center;
	margin-top: 10px;
	margin: 0 auto;
}

.google-btn {
	width: 184px;
	height: 42px;
	background-color: $google-blue;
	border-radius: 2px;
	margin: auto;
	@include box-shadow(0, 3px, rgba(0,0,0,.25), 4px);

	.google-icon-wrapper {
		position: absolute;
		margin-top: 1px;
		margin-left: 1px;
		width: 40px;
		height: 40px;
		border-radius: 2px;
		background-color: $white;
	}

	.google-icon {
		position: absolute;
		margin-top: 11px;
		margin-left: 11px;
		width: 18px;
		height: 18px;
	}

	.btn-text {
		float: right;
		margin: 11px 11px 0 0;
		color: $white;
		font-size: 14px;
		letter-spacing: 0.2px;
		font-family: "Roboto";
	}

	&:hover {
		box-shadow: 0 0 6px $google-blue;
		@include box-shadow(0, 0, $google-blue, 6px);
	}

	&:active {
		background: $button-active-blue;
	}
}
  


@import url(https://fonts.googleapis.com/css?family=Roboto:500);