.navigation {

  &-list {
    list-style-type: none;
    float: right;
  }

  &-item {
    margin: {
      right: -26px;
      bottom: 8px;
    }

    background-color: $light-grey;
    border-radius: 8px;

    &:hover{
      background-color: $competa-red;
      cursor: pointer;
      color: $white;
    }

    &-link {
      display: block;
      color: $black;
      text-decoration: none;
      padding: 8px 50px;
      
      &:hover {
          color: #fff;
      }
    }

    &-green {
      @extend .navigation-item;

      &:hover {
        background-color: $green;
      }
    }
  }
}
