.popup{
  position: fixed;
  left: 44%;
  background-color: $white;
  margin: 3% auto 0 auto;
  padding: 10px;
  border: 2px solid $dark-blue;
  width: 38%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;

  &.hidden{
    display: none;
  }
}

.close{
  position: absolute;
  top: 0;
  right: 0;
  color: $pure-black;
  cursor: pointer;
  height: 20px;
  width: 20px;
  &:after{
    content:'X';
    display: block;
  }
}

