.popup {
  position: absolute;
  left: 15%;
  background-color: $white;
  padding: 10px;
  border: 2px solid $dark-blue;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  &-userphoto{
    width: 100%;
    height: 160px;
  }

  .delete-button{
      margin-bottom: 10px;
      background: $competa-red;
      color: $white;
      font-size: 1.1em;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
  }

  .delete-button:hover {
    @include transition(ease, .2s);
    @include box-shadow(0, 0, $pure-black, 20px, 0, inset);
  }

  .sure {
    margin-left: -5px;
    margin-bottom: 10px;
    opacity: 0.6;
    background: $competa-red;
    color: $white;
    font-size: 1.1em;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .sure:hover {
    opacity: 1;
    background: $competa-red;
  }


  .edit-button{
    margin-right: 10px;
    margin-bottom: 10px;
    background: #dedede;
    color: black;
    font-size: 1.1em;
    padding: 10px 20px 10px 20px;
    border: solid #1e333e 1px;
    text-decoration: none;
  }

  .edit-button:hover {

  }

  &.hidden{
    display: none;
  }

  &-alginment{
    display: block;
    margin-bottom: 5px;
  }

  &-left{
    width: 60%;
    float: left;
    @media screen and (max-width: 664px){
      margin-left: 0;
    }
  }

  &-right{
    width: 40%;
    float: left;
    padding: 0 28px 5px 0;
  }
}

.close{
  position: absolute;
  top: 0;
  right: 0;
  color: $pure-black;
  cursor: pointer;
  height: 20px;
  width: 20px;
  &:after{
    content:'X';
    display: block;
  }
}

.btn {
    &-hidden {
        display: none;
    }
}
