.add-person {
  display: block;
  width: 118px;
  height: 118px;
  border-radius: 50%;
  overflow: hidden;
}

.photo {
  &-folder {
    width: 123px;
    padding: 0;
    margin-left: 25px;
    min-height: 205px;
  }
      &-description {
        text-align: center;
      }
    }
@media screen and (max-width: 950px) {
  .photo {
    &-folder {
      width: 150px;
      padding: 0;
      margin-left: 25px;
      min-height: 210px;
    }
  }
}
@media screen and (max-width: 620px) {
  .photo {
    &-folder {
      width: 180px;
      padding: 0;
      margin-left: 25px;
      min-height: 210px;
    }
  }
  .add-person {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
  }
}
  @media screen and (max-width: 550px) {
    .photo {
      &-folder {
        width: 220px;
        padding: 0;
        margin-left: 25px;
        min-height: 210px;
      }
    }

    .add-person {
      display: block;
      margin: 0 auto;
      width: 190px;
      height: 190px;
      border-radius: 50%;
      overflow: hidden;
    }

  }

