.profile-container {
	width: 70vw;	
	float: right;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	.user-item {
	width: 165px;
	margin: 20px;
	background-color: #E3E3E3;

		.user-photo {
			width: 145px;
			margin: auto;
			display: block;
			margin: 10px auto;
		}

		.user-name {
			font-size: 14px;
			text-align: center;
		}
	}

}

@media screen and (max-width: 770px) {
	.profile-container {
		width: 100vw;
	}
}



