.form-input {
  width: 80%;
  margin: .5em 0;
  border: 1px solid $border-grey;
  color: $dark-grey;
  padding: {
    left: 1.1em;
    top: 0.6em;
    bottom: 0.6em;
  }
}

.select{
  color: $dark-grey;

  &-option {
    color: $dark-grey;
  }
}
