/*Colors*/
$pure-black: #000;
$black: #333;
$grey: #efefef;
$red: #fc354c;
$green: #00cc00;
$white: #fff;
$light-grey: #dedede;
$dark-grey: #25383C;
$placeholder-grey: #a9a9a9;
$border-grey: #757575;
$dark-blue: #1e333e;
$button-blue: #3A526A;
$competa-red: #ec1c24;

$google-blue: #4285f4;
$button-active-blue: #1669F2;


/*Sidebar*/
$sidebar_width: 300px;

/*Grid*/
$col-padding-x: 1.2rem;
$col-padding-y: 1.5rem;
